
@using SqliteWasmBlazor
@using SqliteWasmBlazor.TestApp.TestInfrastructure
@using Microsoft.EntityFrameworkCore
@using SqliteWasmBlazor.Models
@inject IDbContextFactory<TodoDbContext> DbContextFactory
@inject ISqliteWasmDatabaseService DatabaseService

<button type="reset" hidden="@(!_running)" @onclick="@Cancel">Cancel</button>

@if (_testsCompleted)
{
    <div>All Tests Completed</div>
}

@if (_factory is not null)
{
    _lastCategory = null;

    @foreach (var test in _testResults.OrderBy(t => t.Category))
    {
        @if (_lastCategory != test.Category)
        {
            _lastCategory = test.Category;
            <p></p>
            <h5 style="color: blue">@test.Category</h5>
        }

        @if (test.Error)
        {
            <div style="color: red">@test.Result</div>
        }
        else
        {
            <div style="color: forestgreen">@test.Result</div>
        }
    }
}

@if (_error is not null)
{
    <h1 style="color: red">@_error</h1>
}

@code {
    [Parameter]
    public string? TestName { get; set; }

    private IDbContextFactory<TodoDbContext>? _factory;
    private string? _error;
    private readonly List<(string Category, SqliteWasmTest Test)> _tests = [];
    private readonly List<(string Category, string Result, bool Error)> _testResults = [];

    private string? _lastCategory;
    private bool _running;
    private bool _testsCompleted;

    private readonly CancellationTokenSource _cancellationTokenSource = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            _running = false;
            _factory = DbContextFactory;

            try
            {
                var testFactory = new TestFactory(_factory, DatabaseService);
                _tests.AddRange(testFactory.GetTests(TestName));

                _running = true;
                await InvokeAsync(StateHasChanged);

                await foreach (var testResult in RunTestsAsync())
                {
                    _testResults.Add(testResult);
                    await InvokeAsync(StateHasChanged);
                }

                _running = false;
                _testsCompleted = true;
                await InvokeAsync(StateHasChanged);
            }
            catch (Exception ex)
            {
                _error = ex.Message;
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    public void Cancel()
    {
        _cancellationTokenSource.Cancel();
    }

    private async IAsyncEnumerable<(string Category, string Result, bool Error)> RunTestsAsync()
    {
        foreach (var (category, test) in _tests)
        {
            var error = false;
            string? result;

            if (_cancellationTokenSource.IsCancellationRequested)
            {
                break;
            }

            try
            {
                result = await test.RunTestAsync();
            }
            catch (Exception ex)
            {
                result = ex.Message;
                error = true;
            }

            yield return (category, $"SqliteWasm -> {test.Name}: {result}", error);
        }
    }
}
